{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "assets": "./src/assets",
          "constants": "./src/constants",
          "img": "./src/assets/img",
          "utils": "./src/utils",
          "objects": "./src/objects",
          "services": "./src/services",
          "generics": "./src/components/generics",
          "scenes": "./src/components/scenes"
        }
      }
    ]
  ]
}
