@import 'src/assets/style/imports.scss';

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(64, 109, 84);
    width: 100%;

    .login-card {
      background-color: white;
      height: 60vh;
      width: 30vw;
      padding-top: 10vh;
      border: 1px solid transparent;
      border-radius: 2.5%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .buttonContainer {
        padding-top: 20px;
      }
    }
}

.signin {
  width: 60%;
}
