@import "src/assets/style/imports.scss";

.HackathonMaterialModal {
	.onModalClose {
		position: absolute;
		cursor: pointer;
		z-index: 9999999999999999999999999999999999999;
		top: 12%;
		left: 90%;
		font-size: 36px;
		color: white;
	}

	.onModalClose {
		position: absolute;
		cursor: pointer;
		z-index: 9999999999999999999999999999999999999;
		top: 12%;
		left: 90%;
		font-size: 36px;
		color: white;
	}
}

#teste {
	.button {
		width: 100%;
	}
	.text-input-group {
		width: 100%;
		padding: 0;
	}
}
