@import 'src/assets/style/imports.scss';
.Container {
    margin: 10px;
    height: auto;
    width: 29vw;
}

.card {
    justify-content: space-between;
    padding: 15px;
    height: auto;
    width: 390px;
    transition: box-shadow 0.3s ease-in-out;
    background-color: white;
    &:hover {
        box-shadow: 3px 3px 15px $grey;
    }
}
