@import "src/assets/style/imports.scss";

.sign-up {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-blue;

  .sign-up-container {
    background-color: white;
    width: 70%;
    border: 1px solid transparent;
    border-radius: 2px;
    display: flex;
    padding: 10px;

    .form-column {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      input[type="file"] {
        opacity: 0;
      }

      .image-upload {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 130px;
        height: 130px;
        margin-bottom: 50px;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        background-color: $light-grey;

        img {
          border: 1px solid transparent;
          border-radius: 50%;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      button {
        width: 15vw;
      }
    }
  }
}
