@import 'src/assets/style/imports.scss';

.button-add-campaign{
	background-color: #FFB736; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.button-plus{
    font-size: 40px;
}